@charset "UTF-8";
@use "../scss/layout/header";
@use "../scss/common/variables" as vars;
// 共通
html {
    overflow: hidden;
    background: vars.$colorWhite;
    font-family: Noto Sans JP;
    font-weight: 400;
    word-wrap: break-word;
    text-wrap: nowrap;
    font-size: vars.$fontL;//14px
}

.logo--header {
    display: inline-flex;
    flex-direction: column;
}