@charset "UTF-8";
@use "../scss/layout/header";
@use "../scss/common/variables" as vars;
// 共通
html {
    overflow-x: hidden;
    background: vars.$White;
    color: vars.$Black;
    font-family: Noto Sans JP;
    font-weight: 400;
    word-wrap: break-word;
    text-wrap: nowrap;
    font-size: vars.$fontL;//14px
}
p {
    margin: 0;
}
ol, ul {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.logo--header {
    display: inline-flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: vars.$Black;
}
.btn-primary {
    background-color: aqua!important;
    color: #232323!important;
    align-content: center;
}
.btn-primary:hover {
    background-color: rgb(37, 155, 234)!important;
    color: #232323!important;
    align-content: center;
}

// top
.l-service {
    width: 100%;
    padding: 0 5%;
    margin: 35px 0;
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: vars.$gap30;
        .card {
            background-color: #D9D9D9;
            height: 107px;
            width: 118px;
            align-items: center;
            border-radius: 2px!important;
            border: none;
            p {
                text-align: center;
                font-size: min(3.3vw, 14px);
                line-height: 1.1rem;
            }
        }
    }
   
}