@charset "UTF-8";
@use "../scss/layout/header";
@use "../scss/common/variables" as vars;
// 共通
body {
    overflow: hidden;
    background: vars.$colorWhite;
    font-family: Noto Sans JP;
    font-weight: 400;
    word-wrap: break-word;
    text-wrap: nowrap;
}

p{
    font-size: 14px;
}
