@use "../common/variables" as vars;

.l-header {
    background-color: aqua;
    height: calc(#{vars.$headerOne} + #{vars.$headerTwo});
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--one {
        background-color: rgb(238, 211, 211);
        display: flex;
        align-self: stretch;
        justify-content: center;
        align-items: center;
        height: vars.$headerOne;
        font-size: vars.$fontS;
        padding: vars.$pdS;
        p {
            font-size: vars.$fontS;
        }
    }
    &--two {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
        align-self: stretch;
        height: vars.$headerTwo;
        padding: 0 vars.$pdL;
        gap: 146px;
    }
    .l-nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: vars.$gap30;
    
    }
}

