@use "../common/variables" as vars;

.l-header {
    // background-color: aqua;
    height: calc(#{vars.$headerOne} + #{vars.$headerTwo});
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--one {
        background-color: vars.$Green;
        color: vars.$White;
        letter-spacing: vars.$lsFontM;
        display: flex;
        align-self: stretch;
        justify-content: center;
        align-items: center;
        height: vars.$headerOne;
        font-size: vars.$fontS;
        padding: vars.$pdS;
        p {
            font-size: vars.$fontS;
        }
    }
    &--two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: aquamarine;
        align-self: stretch;
        height: vars.$headerTwo;
        padding: 0 vars.$pdM;
        gap: 146px;
    }
    .l-nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: vars.$gap48;
        .l-nav--menu {
            display: flex;
            flex-direction: row;
            gap: vars.$gap38;
            // background-color: aqua;
            li {
                // width: vars.$listwideHeader;
                width: auto;
                height: vars.$listwideHeader;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: vars.$gapListM;
                .l-icon {
                    width: vars.$size38;
                    height: vars.$size38;
                    position: relative;
                    &--box {
                        width: vars.$size38;
                        height: vars.$size38;
                        left: 0px;
                        top: 0px;
                        position: absolute;
                        background-color: vars.$White;
                    }
                    img {
                        width: vars.$size38;
                        height: vars.$size38;
                        position: absolute;
                        color: vars.$Green;
                    }
                }
                .l-txt {
                    align-self: stretch;
                    height: vars.$size30;
                    text-align: center;
                    // font-size: vars.$fontM;
                    line-height: vars.$lhFontM;
                    letter-spacing: vars.$lsFontM;
                    word-wrap: break-word;
                    font-weight: 590;
                    color: vars.$Green;
                    padding-top: vars.$pdSS;
                }
            }
        }
        .l-nav--contact {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            align-self: stretch;
            gap: vars.$gap8;
            width: auto;
            .l-txt {
                font-size: vars.$fontS;
                text-align: right;
                word-wrap: break-word;
                width: 100%;
            }
            .l-cta-wrapper--header {
                display: flex;
                flex-direction: row;
                gap: vars.$gap8;
            }
        }
    }
}

