// テストカラー
$testblack:#232323;
$testwhite:#fff;
$testred:rgb(243, 167, 234);
$testblue:rgb(156, 200, 246);


// カラー
$colorWhite: #ffffff;

// 文字サイズ
$fontS: 10px;
$fontM: 12px;
$fontL: 14px;
$fontLL: 18px;

// padding
$pdS:8px;

// height
// headerーーone(上部)とheader--two（下部）
$headerOne:30px;
$headerTwo:88px;